/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
    font-family: Helvetica;
    font-style: normal;
}

section {
    height: 100vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.bg {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-fluid {
    padding: 0;
    border: 15px solid white;
}