<section>
    <div class="container-fluid bg d-flex flex-wrap">
        <nav class="navbar navbar-expand-lg navbar-light justify-content-between w-100">
            <a class="navbar-brand mr-auto" href="#">
                <img class="navbar-icon" src="../../assets/icons and logos/logo-white.svg" alt="">
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">EST</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ENG</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="container heading d-flex">
                <h1 class="text-center mt-auto mb-auto">Üürida uued A-klassi nähtavusega <span class="font-italic">build-to-suite</span> kaubandus- ja
                    teeninduspinnad Jüri ringil</h1>
            </div>
            <div class="container cta text-center">
                <button type="button" class="btn">Eelmüük alanud – võta ühendust!</button>
            </div>
            
        </div>
    </div>
</section>